.wrap {
    width: 100vw;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    color: rgb(3, 129, 255);
    font-size: 30px;
    font-weight: 900;
    font-family: 'Gill Sans' sans-serif;
}

.emoji {
    font-size: 30px;
    font-weight: 900;
    color: rgb(3, 129, 255);
}