.form{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.input{
    width: 200px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #585858;
}

.input:focus, .input:hover{
    border: 1px solid rgb(42, 244, 92);
    outline: none;
    padding: 5px;
}

.button{
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(42, 244, 92);
    padding: 2px;
    background-color: rgb(208, 255, 219);
    width: 100px;
}
.button:hover{
    padding: 5px;
}
